<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdicionarUsuarioServlet</servlet-name>
        <servlet-class>br.com.locadora.usuario.controller.AdicionarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarUsuarioServlet</servlet-name>
        <servlet-class>br.com.locadora.usuario.controller.ListarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarUsuarioServlet</servlet-name>
        <servlet-class>br.com.locadora.usuario.controller.BuscarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarUsuarioServlet</servlet-name>
        <servlet-class>br.com.locadora.usuario.controller.ModificarUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuarioServlet</servlet-name>
        <servlet-class>br.com.locadora.usuario.controller.ExcluirUsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarVeiculoServlet</servlet-name>
        <servlet-class>br.com.locadora.veiculo.controller.AdicionarVeiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarVeiculoServlet</servlet-name>
        <servlet-class>br.com.locadora.veiculo.controller.BuscarVeiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirVeiculoServlet</servlet-name>
        <servlet-class>br.com.locadora.veiculo.controller.ExcluirVeiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarVeiculoServlet</servlet-name>
        <servlet-class>br.com.locadora.veiculo.controller.ListarVeiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarVeiculoServlet</servlet-name>
        <servlet-class>br.com.locadora.veiculo.controller.ModificarVeiculoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionarClienteServlet</servlet-name>
        <servlet-class>br.com.locadora.cliente.controller.AdicionarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarClienteServlet</servlet-name>
        <servlet-class>br.com.locadora.cliente.controller.BuscarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <servlet-class>br.com.locadora.cliente.controller.ExcluirClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListarClienteServlet</servlet-name>
        <servlet-class>br.com.locadora.cliente.controller.ListarClienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModificarClienteServlet</servlet-name>
        <servlet-class>br.com.locadora.cliente.controller.ModificarClienteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdicionarUsuarioServlet</servlet-name>
        <url-pattern>/AdicionarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarUsuarioServlet</servlet-name>
        <url-pattern>/ListarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarUsuarioServlet</servlet-name>
        <url-pattern>/BuscarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarUsuarioServlet</servlet-name>
        <url-pattern>/ModificarUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuarioServlet</servlet-name>
        <url-pattern>/ExcluirUsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarVeiculoServlet</servlet-name>
        <url-pattern>/AdicionarVeiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarVeiculoServlet</servlet-name>
        <url-pattern>/BuscarVeiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirVeiculoServlet</servlet-name>
        <url-pattern>/ExcluirVeiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarVeiculoServlet</servlet-name>
        <url-pattern>/ListarVeiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarVeiculoServlet</servlet-name>
        <url-pattern>/ModificarVeiculoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionarClienteServlet</servlet-name>
        <url-pattern>/AdicionarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarClienteServlet</servlet-name>
        <url-pattern>/BuscarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirClienteServlet</servlet-name>
        <url-pattern>/ExcluirClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarClienteServlet</servlet-name>
        <url-pattern>/ListarClienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarClienteServlet</servlet-name>
        <url-pattern>/ModificarClienteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
